@model Author

<h3 class="text-center mt-2">Yeni Yazar Ekleme Sayfası</h3>

<form method="post" asp-controller="Author" asp-action="Create">

    <div>
        <label asp-for="FirstName">İsim</label>
        <input asp-for="FirstName" type="text" class="form-control"/>
    </div>

    <div>
        <label asp-for="LastName">Soy İsim</label>
        <input asp-for="LastName" type="text" class="form-control" />

    </div>

    <button type="submit" class="btn btn-success mt-2">Kaydet</button>

</form>