@model BookCreateViewModel

<h3 class="text-center">Yeni Kitap Ekleme Sayfası</h3>

<form method="post" asp-controller="Book" asp-action="Create">

    <div>
        <label>Kitap Adı</label>
        <input asp-for="Book.Name" type="text" class="form-control" />
    </div>

    <div>
        <label>Sayfa Sayısı</label>
        <input asp-for="Book.PageCount" type="text" class="form-control"/>

    </div>


    <div>
        <label>Yazar</label>
        <select asp-items="@(new SelectList(Model.Authors,"Id", "FullName"))" asp-for="Book.AuthorId" class="form-control">

           <option disabled selected>Seçiniz...</option>

        </select>

    </div>


     <div>
        <label>Kitap Türleri</label>
        <select asp-items="@(new SelectList(Model.BookTypes,"Id", "Name"))" asp-for="Book.BookTypeId" class="form-control">
            <option disabled selected>Seçiniz...</option>

        </select>

    </div>


    @*TODO: YAZARLAR & KİTAP TÜRLERİ*@
    

    <button type="submit" class="btn btn-success mt-2">Kaydet</button>


</form>